### GIT IGNORE ###
### ========== ###

.backend-old/bin/
.backend-old/obj/
backend/Backend/bin/
backend/Backend/obj/
backend/Backend/Test/
backend/Backend/*.db
backend/Backend/*.db-shm
backend/Backend/*.db-wal
backend/Backend/wwwroot/uploads/
frontend/.env
